@import '../utility/colors.css';
/* :root {
    --bright: #BDE3DF;
    --normal: #A7C8C5;
    --shade1: #89b3ae;
    --shade2: #81a7a2;
    --dark: #262e28;
    --default-font-size: 16px;
    --text-color: white;
} */

@font-face {
    font-family: 'cursive-font';
    src: url('../../fonts/cursiveFont/cursive2.woff') format('woff'),
        url('../../fonts/cursiveFont/cursive2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cursive-font-alt';
    src: url('../../fonts/cursiveFont/cursive1.woff') format('woff'),
        url('../../fonts/cursiveFont/cursive1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header-nav, .header-nav-noscroll  {
    display: flex;
    justify-content: space-between;
    background-color: var(--normal);
    overflow-x: scroll;
}

.header-nav::-webkit-scrollbar {
    width: 8px;
    background-color: var(--dark);
    /* margin-top: 15px; */
    /* border-radius: 6px; */
}

.header-nav::-webkit-scrollbar-thumb {
    background: var(--bright); 
    /* border-radius: 6px; */
}

.header-nav-noscroll::-webkit-scrollbar {
    display: none;
} 

.header-title-container {
    display: flex;
    flex-direction: row;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* padding: 10px; */
    text-wrap: nowrap;
    
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    background-color: var(--normal);
    /* padding: .25em; */
    /* scale: 85%; */

    border: 2px solid var(--bright);
    /* border-radius: 55px; */
    align-items: center;
    margin-top: 1rem;
    height: 3.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

.header-title1 {
    font-family:'cursive-font-alt', serif;
    color: var(--dark);
    font-size: 3rem;
    margin-right: 1rem;
    letter-spacing: 4px;

    margin-top: 1rem;
}
.header-title2 {
    margin-top: 0.7rem;
    letter-spacing: 2px;
    font-family: 'cursive-font', sans-serif;
    color: var(--text-color);
    font-size: 2.2rem;
    
}

/* ============================ LEFT half navigation positioning =============================== */
.header-nav-left {
    margin-top: 10px;
    align-items: center;
    /* background-color: blue; */
}

/* position,style header links */
.header-nav-left ul {
    list-style-type: none;
    display: flex;
}

/* spacing between links */
.header-nav-left ul li {
    margin-right: 50px;
}

/* no margin on last link */
.header-nav-left ul li:last-child {
    margin-right: 0; 
}

/* ========================== right half navigation positioning ================================= */
.header-nav-right {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    /* background-color: green; */
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 11px;
}

.header-nav-right ul {
    list-style-type: none;
    display: flex;
}

/* spacing between links */
.header-nav-right ul li {
    margin-right: 50px;
}

.header-nav-right ul li a {
    text-decoration: none;
    position: relative;
}

.header-nav-right ul li:last-child {
    margin-right: 15px; 
}

/* ================= Text button styling ===================== */
.button-nav-passive {
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button-nav-passive:hover {
    margin-left: -20px;
    background-color: var(--shade1);
    padding: 10px;
    border-radius: 15px;
}

.button-nav-active {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* font-weight: bold; */
    color: var(--text-color);
    background-color: var(--shade2);
    padding: 10px;
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-nav-login {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    padding: 10px;
    border-radius: 15px;
    background: var(--shade1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid var(--text-color);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    /* font-weight: 600; */
}

.button-nav-login:hover {
    background: var(--shade2);
}

/* ================= icon button styling ===================== */
.button-icon-passive {
    margin-top: 4px;
    scale: 80%;
    /* background: var(--shade1); */
}

.button-icon-active {
    scale: 80%;
    background: var(--shade1);
    padding: 10px;
    margin: -10px;
    border-radius: 15px;   
}

.weather-icon {
    scale: 90%;
}

/* ================ settings dropdown =================== */
.settings-passive {
    margin-top: 4px;
    scale: 80%;
    background: var(--shade1);
}

.settings-active {
    scale: 80%;
    background: var(--shade1);
    padding: 10px;
    margin: -10px;
    border-radius: 15px;   
}

#menu-nav-settings-icon
{
    color: white;
    font-size: 4rem;
}

#menu-nav-home-icon 
{
    color: white;
    font-size: 4rem ;
}