/* color controller */
:root {
    --bright: #BDE3DF;
    --normal: #A7C8C5;
    --dark: #262e28;
  }
  
p {
    color: var(--normal);
}

.Login {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("../../images/bird-tree.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
}

.Login-logo {
    height: 40vmin;
    pointer-events: none;
}

.Login-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.Login-msg {
    margin-bottom: 25px;
}