/* color controller */
:root {
  --bright: #BDE3DF;
  --normal: #A7C8C5;
  --dark: #262e28;
}

.Manager {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
      url("../../images/bird-tree.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--bright);
}

.main-content {
  width: 1200px;
  height: 700px;
  background: var(--dark);
  border: 3px solid var(--bright);
  overflow: auto;
}

/* ================ BUTTON NAVIAGATION ================ */
/* .report-btn {
  background: red;
} */

.report-btn ul {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
}

/* spacing between links */
.report-btn ul li {
  margin-left: 15px;
  margin-right: 15px;
}

.report-btn a.active-report {
  /* font: 20px Garamond, serif; */
  font-size: larger;
  text-decoration: none;
  font-weight: 700;
  color: var(--normal);
}

.report-btn a.passive-report {
  /* font: 20px Garamond, serif; */
  font-size: larger;
  text-decoration: none;
  color: white;
}

.utility-btn {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* why does this not work? */
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
}

/* spacing between btns */
.utility-btn > * {
  margin-bottom: 10px;
}

.date-btn {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  margin-right: 50px;
}

/* ================== REPORT LABELS ============= */
/* .report-label {
  background: red;
} */

.label-container {
  width: 1200px;
  width: 100%;
}

.active-label {
  display: block;
}

.passive-label {
  display: none;
}

.report-label ul {
  color: var(--normal);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* spacing between links */
.report-label ul li {
  margin-left: 60px;
  margin-right: 60px;
}

.report-label a.label-item {
  /* font: 20px Garamond, serif; */
  font-size: x-large;

  text-decoration: none;
  color: var(--bright);
}

/* ================== DATA TABLE ============= */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 25%;
  color: var(--normal);
}

/* ================== FOOTER BUTTONS ==================*/

.date-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.utility-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}