/* color controller */
:root {
  --background: #000000;
  --bright: #3da399;
  --normal: #A7C8C5;
}

.Manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bright);
}

/* ================ BUTTON NAVIAGATION ================ */
/* .button-nav {
  background: red;
} */

.button-nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
}

/* spacing between links */
.button-nav ul li {
  margin-left: 15px;
  margin-right: 15px;
}

.button-nav a.active-report {
  /* font: 20px Garamond, serif; */
  font-size: larger;
  text-decoration: none;
  font-weight: 700;
  color: #db0a0a;
}

.button-nav a.passive-report {
  /* font: 20px Garamond, serif; */
  font-size: larger;
  text-decoration: none;
  color: #fff;
}

.logout-btn ul {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  margin-right: 50px;
}

/* CONTENT CONTAINER */
.main-content {
  width: 1200px;
  height: 700px;
  background: var(--normal);
  border: 5px solid var(--background);
}

/* ================== REPORT LABELS ============= */
/* .report-label {
  background: red;
} */

.active-label {
  display: block;
}

.passive-label {
  display: none;
}

.report-label ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* spacing between links */
.report-label ul li {
  margin-left: 60px;
  margin-right: 60px;
}

.report-label a.label {
  /* font: 20px Garamond, serif; */
  font-size: larger;
  text-decoration: none;
  color: #fff;
}