@import '../utility/colors.css';

/* color controller */
/* :root {
    --text-color: white;
    --accent: skyblue;
    --font-size: 16px;

    --bright: #BDE3DF;
    --normal: #A7C8C5;
    --dark: #1c221d;
    --border: #81a7a2;
} */

.menu-body {
    height: 100vh;
}
.menu-main-contactus
{
    height: 100vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

.top-row-form-data {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.name-container {
    /* margin: ; */
    width: 100%;
    /* background-color: yellow; */
}
.email-container {
    width: 100%;
}

.message-container { 
    /* background-color: green; */
    width: 100%;
}

.menu-main-contactus-header
{
    border: 5px solid var(--bright);
    scale: 85%;
    background-color: var(--normal);
    color: var(--text-color);
    padding: .25em;
    border-radius: 25px;
    box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
    margin-top: -5%;
}

.menu-main-contactus-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background-color: var(--dark);
    color: var(--text-color);
    padding: 1em;
    margin-top: -2em;

    height: 50vh;

    /* height: 70%;
    width: 70%; */
}

.contactus-image
{
    width: 500px;
    height: 500px;
    border-radius: 500px;
    box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
}

.title-container
{
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.big-title
{
    font-size: 3.5rem;
}

.small-title
{
    font-size: 2.5rem;
    border-bottom: 5px solid var(--text-color);
    padding-bottom: 1em;
}

.rest-container
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rest
{
    font-size: 2rem;
}   

input
{
    border-radius: 10px;
    border: 5px solid var(--shade1);
    border-radius: 25px;
    /* box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5); */
    /* color: var(--normal); */
    /* width: 100%; */
}

textarea
{
    border-radius: 10px;
    border: 5px solid var(--shade1);
    border-radius: 25px;
    /* box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5); */
    width: 100%;
    /* color: var(--normal); */
}
textarea::-webkit-scrollbar {
    width: 8px;
    background-color: #565a57;
    margin-top: 15px;
    border-radius: 6px;
  }
textarea::-webkit-scrollbar-thumb {
    background: var(--bright); 
    border-radius: 6px;
} 

.menu-main-contactus-entry
{
    display: flex;
    flex-direction: column;
    gap: .86em;
}

.contactus-right-container
{
    border: 5px solid var(--bright);
    background-color: var(--normal);
    text-align: center;
    padding: 1em;
    font-size: 2.2rem;
    border-radius: 25px;
    width: 100%;
    /* box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5); */
}

.contact-form-container
{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    /* height:100%; */
    gap: .25em;
    font-size: 2.1rem;
}

.form-container
{
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    align-items: center;
    gap: .25em;
    overflow-x: scroll;
}
.form-container::-webkit-scrollbar {
    display: none;
}

#message
{
    /* width: 80%; */
    /* resize: non  e; */
    margin-bottom: .25em;
}

.form-submit-button
{
    /* color: var(--normal); */
    font-size: 2.0rem !important;
    padding: .5em;
    width: 20%;
    /* height: 10%; */
    border-radius: 500px;
    color: var(--text-color);
    /* border-color: var(--text-color); */
    background-color: var(--shade1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    scale: 80%;
}

.form-submit-button:hover {
    scale: 85%;
}

.contact-us-filler-block {
    height: 3.85rem;
}