/* color controller */
@import '../utility/colors.css';
/* :root {
    --white: white;
    --accent: skyblue;
    --font-size: 16px;
} */

@font-face {
    font-family: 'plant-font';
    src: url('../../fonts/plantFont/Plante.woff') format('woff'),
        url('../../fonts/plantFont/Plante.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ================================== root containers ============================ */
.menu-stage
{
    background-color: var(--dark);
    padding: 2em;
    height: 100%;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    background-color: var(--normal);
    margin-left: 13rem;
    margin-right: 13rem;
    padding-top: 2rem;

    border-radius: 45px;
    box-shadow: 0 2px 12px var(--shadow);
    /* width: 70%; */
}


/* ================================== entry containers ===================================== */
.menu-category-container
{
    /* width: 120%; */
    color: var(--white);
    display: flex;
    flex-direction: column;
    
    padding-bottom: 2rem;
}
.category-title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'plant-font', Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin-bottom: 1rem;   
    color: var(--text-color);
    text-align: center;

    /* padding: 5px; */
    background-color: var(--shade2);
    border: 1px solid var(--text-color);
    border-radius: 45px;
}

.product-container
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-product-container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

.product-name
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin-right: auto;
    font-size: 1.3rem;
}

.product-price {
    font-size: 1.3rem;
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

.product-line {
    flex: 1;
    /* height: 1px;
    background-color: var(--bright);  */
    margin: 0 10px; 
    /* border-top: 4px dotted var(--bright); */
    border-top: 0.1px solid var(--bright);
    /* border-radius: 50%; */
}


/* =========================== menu formatting =================================== */
.column1, .column2 {
    width: 33%;
    /* background-color: red; */
    margin-right: 5rem; 
    margin-bottom: auto;
}


/* =========================== images =========================== */
.image1 {
    margin-left: -20%;
    /* margin-right: auto; */
    scale: 40%;
}
.image2 {
    margin-right: -20%;
    /* margin-left:auto ; */
    scale: 40%;
}

