@import '../utility/colors.css';
/* color controller */
/* :root {
  --text-color: red;
  --root-font-size: 16px;
  --shade1: #89b3ae;
  --bright: #BDE3DF;
  --normal: #A7C8C5;
  --dark: #1c221d;
  --border: #81a7a2;
} */

/* ================== scrollbar styling for about us containers =================== */
.menu-main-aboutus-entry p::-webkit-scrollbar {
  width: 8px;
  background-color: #565a57;
  margin-top: 15px;
  border-radius: 6px;
}

.menu-main-aboutus-entry p::-webkit-scrollbar-thumb {
  background: var(--shade2); 
  border-radius: 6px;
} 

.about-us-body {
  height: 100vh;
}

.menu-main-aboutus
{
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.menu-main-aboutus-header
{
  border: 5px solid var(--bright);
  background-color: var(--normal);
  color: var(--text-color);
  padding: .25rem;
  margin-top: 7px;
  border-radius: 25px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
}

.menu-main-aboutus-entry
{
  font-size: 1.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  /* text-align: center; */
  margin-bottom: 2rem;
  /* max-width: 2500px; */
}

.actual-top-container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height:   */

  /* gap: 2rem; */
}

.actual-bottom-container
{
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
}

.menu-main-aboutus-entry p 
{
  color: var(--text-color);
  padding: .5em;
  text-align: center;
  height: 70%;
  overflow-y: auto;
}








.menu-main-aboutus-top-container  
{
  border: 8px solid var(--bright);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 2rem; */
  background-color: var(--normal);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  border-radius: 100px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
  scale: 70%;

  height: 40vh;
}

.menu-main-aboutus-bottom-container
{
  height: 40vh;
  scale: 70%;
  border: 8px solid var(--bright);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: -3rem;
  background-color: var(--normal);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  border-radius: 100px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
}

.menu-main-aboutus-image-bottom
{
  margin-top: -3rem;
  scale: 60%;
  margin-right: -10rem;
  border: 3px solid white;
  width: 40%;
  /* height: 15%; */
  border-radius: 500px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
}
.menu-main-aboutus-image-top
{
  display: none;
  /* background-color: red; */
  /* margin-top: 1%; */
  scale: 50%;
  /* margin-left: -10rem; */
  border: 3px solid white;
  width: 40%;
  /* height: 1%; */
  border-radius: 500px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);

}