:root {
  --bright: #BDE3DF;
  --normal: #A7C8C5;
  --shade1: #89b3ae;
  --shade2: #81a7a2;
  --dark: #262e28;
  --default-font-size: 16px;
  --text-color: white;
}

.x-out-btn{
    background-color: red;
    color: white;
    border-radius: 10px;
    position: absolute;
    right: 26%;
    top: 20%;
    height: 40px;
    width: 40px;
}

.title{
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 2%;
}

.add-employee-content, .add-menu-item-content, .add-inventory-item-content, .add-customer-content, .add-manager-content, .edit-menu-item-popup, .edit-inventory-item-popup, .edit-employee-popup
{
    position: relative;
}

.add-employee-content Form, .add-menu-item-content Form, .add-inventory-item-content Form, .edit-menu-item-popup Form, .edit-inventory-item-popup Form, .edit-employee-popup Form
{
    width: 50%;
    margin: 0 auto;
}

.role-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-top: 3.5em;
    color: white;
}

.make-employee-btn
{
    background-color: red;
    padding: 1em;
    border-radius: 15px;
}

.make-manager-btn
{
    background-color: var(--shade1);
    padding: 1em;
    border-radius: 15px;
}

.make-customer-btn
{
    background-color: rgb(114, 220, 162);
    padding: 1em;
    border-radius: 15px;
}

.make-btn
{
    cursor: pointer;
}

.make-btn:hover 
{
    font-weight: bolder;
}
