/* color controller */
:root {
    --white: white;
    --accent: skyblue;
    --font-size: 16px;

    --bright: #BDE3DF;
    --normal: #A7C8C5;
    --dark: #262e28;
  }

.menu-header 
{
    background-color: var(--dark) !important;
    color: var(--normal);
    min-height: 100px;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/**********************************************/

.menu-main-settings
{
    background-color: var(--dark) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.menu-main-settings-header
{
    font-size: 3.5rem;
    background-color: var(--normal) !important;
    color: var(--white);
    padding: .25em;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.menu-main-settings-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background-color: var(--normal) !important;
    color: var(--white);
    padding: 10em;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.menu-main-settings-entry
{
    font-size: 2rem;
}

.menu-footer 
{
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .75em;
}

.menu-footer-message
{
    font-size: 2rem;
}

.menu-footer-container
{
    display: flex;
    flex-direction: row;
    gap: 5em;
}   

.menu-footer-smlink-icon
{
    height: 50px;
    width: 50px;
}

.menu-footer a 
{
  color: inherit;
  text-decoration: none;
}

.menu-footer-smlink-icon:hover
{
  transform: scale(1.25);
}