/* color controller */
:root {
    --background: #000000;
    --bright: #BDE3DF;
    --normal: #A7C8C5;
  }
  
.Cashier {
    text-align: center;
}

.Cashier-logo {
    height: 40vmin;
    pointer-events: none;
}

.Cashier-header {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

p {
    color: var(--normal);
}
  
  