@import 'components/utility/colors.css';
/* color controller */
/* :root {
  --text-color: white;
  --accent: skyblue;
  --root-font-size: 16px;
  --shade1: #89b3ae;
  --shade2: #81a7a2;
  --shade3: #688581;
  --bright: #BDE3DF;
  --normal: #A7C8C5;
  --dark: #1c221d;
  --border: #81a7a2;
} */

@font-face {
  font-family: 'cursive-font';
  src: url('fonts/cursiveFont/cursive2.woff') format('woff'),
      url('fonts/cursiveFont/cursive2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cursive-font-alt';
  src: url('fonts/cursiveFont/cursive1.woff') format('woff'),
      url('fonts/cursiveFont/cursive1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*=================================== SKELETON =================================== */
/* container for entire landing page */
.main-stage {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--dark);
  height: 100vh;

  overflow-x: auto;
}

.left-content {
  /* background-color: white; */
  width: 40%;
  justify-content: space-between;
  /* align-items: center; */
  /* display: flex; */
  flex-direction: column;
  
  /* margin-top: -1rem; */
  /* overflow: scroll; */
}
.left-content::-webkit-scrollbar {
  display: none;
}

.right-content {
  color: var(--text-color);
  width: 60%;
  /* margin-left: -10%; */
  /* margin-right: -20%; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  /* background-color: red; */
  margin-bottom: 5%;
}


/* =========================== LEFT STUFF   ==============================  */
.big-plate-container {
  margin-top: 10vh; 
  /* margin-left: ; */
  max-width: 36vw; 
  max-height: 70vh; 
  background-color: var(--shade3);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--normal);

}

.big-plate-img-container {
  /* margin-left: 8rem; */
  scale: 80%;
  
  /* border: 10px solid red; */
  border-radius: 50%; 
  /* max-width: 52rem;
  max-height: 52rem; */
  width: 48vw;
  height: 96vh;

  box-shadow: 0 10px 57px rgba(0, 0, 0, 1);
}

.big-plate-img {
  filter: brightness(88%);
  /* margin-left: -3.6rem;
  margin-top: -4.7rem; */
  margin-left: -7%;
  margin-top: -9%;
  /* scale: 100%;  */
  width: 55vw;
  height: 110vh;
}
.big-plate-img-bright {
  /* filter: brightness(88%); */
  /* margin-left: -3.6rem;
  margin-top: -4.7rem; */
  margin-left: -7%;
  margin-top: -9%;
  /* scale: 100%;  */
  width: 55vw;
  height: 110vh;
}

/* ================================ RIGHT STUFF TOP =========================== */
.big-plate-info-container {
  /* text-align: cen; */
  display: flex;
  flex-direction: column;
  /* margin-top: auto; */
  /* margin-bottom: 10%; */
  /* background-color: green; */
  width: 80%;

  color: var(--landing-text);
}

.big-plate-info-title {
  font-size: 450%;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  /* font-family: 'cursive-font', sans-serif; */
  letter-spacing: .3rem;
}

.big-plate-info-desc {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-size: 220%;
  /* margin-left: 1%; */
}

.big-plate-info-order-container {
  display: flex;
}

.big-plate-info-price {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-plate-order-now-btn-container {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-plate-order-now-btn {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    text-overflow: ellipsis;
    font-size: 140%;
    
    width: fit-content;
    scale: 110%;
    /* margin-left: 1%; */
    margin-top: 1%;
    /* overflow: hiddesc; */
    white-space: nowrap;
    /* font-weight: bold; */
    color: var(--landing-text-order);
    /* background-color: var(--shade2); */
    padding: 10px;
    border-radius: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    text-decoration: none;
}

.big-plate-order-now-btn:hover {
  text-decoration: underline;
  /* margin-left: -20px; */
  color: var(--text-color);
  padding: 10px;
  border-radius: 15px;
}


/* =================== right stuff bot =============================== */
.popular-items-container {
  display: flex;
  margin-top: auto;
}


