/* color controller */
:root {
  --white: white;
  --accent: skyblue;
  --font-size: 16px;
}

*
{
  /* border: 2px solid red; */
}

.menu-body
{
  position: relative;
  min-height: 100vh;
  background-color: var(--white);
}

.menu-header 
{
  background-color: var(--white) !important;
  color: var(--accent) !important;
  min-height: 200px !important;
  font-size: 7rem !important;
  padding: .25em; /*********/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-nav-title
{
  font-size: 3.4rem !important;
  font-weight: bolder;
}

.menu-main-aside
{
  margin: 2em;
  margin-top: 3.75em;
  margin-right: 4em;
}

.menu-main-aside-images
{
  width: 525px;
  height: 425px;
}

.menu-main
{
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;

}

.menu-main-section-1
{
  background-color: var(--white);
  color: var(--white);
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.menu-main-section-1-h1
{
  background-color: var(--accent);
  color: var(--white);
  font-size: 4rem;
  padding: .25em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
}

.menu-main-section-1-p
{
  background-color: var(--accent);
  color: var(--white);
  min-width: 800px;
  font-size: 1rem;
  padding: .5em;
  text-align: center;
  
}

.menu-section-2
{
  background-color: var(--accent);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.menu-section-2-left
{
  display: flex;
  flex-direction: column;
}



.menu-section-2-h3
{
  background-color: var(--accent);
  color: var(--white);
  font-size: 3rem;
  margin-top: .25em;
  margin-bottom: .25em;
}

.menu-section-2-p
{
  background-color: var(--accent);
  color: var(--white);
  max-width: 900px;
  font-size: 1.2rem;
}

.menu-footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--accent);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: .75em;
  margin-bottom: 0em !important;
  height: 150px !important;
}

.menu-footer-message
{
  font-size: 3.5rem !important;
}

.menu-footer-container
{
  display: flex;
  flex-direction: row;
  gap: 5em;
}   

