/* color controller */

/* dark color codes by default*/
:root {
    --white: white;
    --text-color: white;
    --accent: skyblue;
    --bright: #BDE3DF;
    --accent: #BDE3DF;
    
    --normal: #A7C8C5;
    --shade1: #89b3ae;
    --shade2: #81a7a2;
    --dark: #1c221d;
    --border: #81a7a2;

    --landing-text: white;
    --landing-text-order: #A7C8C5;
}