/* color controller */
:root {
    --white: white;
    --text-color: white;
    --accent: skyblue;
    --bright: #BDE3DF;
    --accent: #BDE3DF;
    
    --normal: #A7C8C5;
    --shade1: #89b3ae;
    --shade2: #81a7a2;
    --dark: #24af3b;
    --border: #81a7a2;
    --fuck: rgb(0, 60, 128);
}