/* color controller */
@import '../utility/colors.css';
/* :root {
    --white: white;
    --accent: skyblue;
    --root-font-size: 16px;
    --shade1: #89b3ae;
    --shade2: #81a7a2;
    --bright: #BDE3DF;
    --normal: #A7C8C5;
    --dark: #1c221d;
    --border: #81a7a2;
} */


.category-container {
    /* overflow-x: scroll; */
    display: flex;
    margin-bottom: auto;
}
.category-container::-webkit-scrollbar {
    display: none;
}

.menu-main-menu
{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
    height: 100vh;
}

.menu-main-menu-header
{
    /* margin-top: -5%; */
    color: var(--text-color);
    border: 3px solid var(--border);
    font-size: 3.5rem;
    background-color: var(--normal);
    padding: .25em;
    scale: 85%;
    border-radius: 25px;
    box-shadow: 0 2px 12px rgba(255, 255, 255, 0.5);
}

.menu-main-menu-container
{
    /* margin-top: 70%; */
    display: flex;
    overflow: scroll;

    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height:100%;
    /* padding: 50%; */
    width: 100%;

    margin-bottom: auto;
    margin-top: -3%;
}
.menu-main-menu-container::-webkit-scrollbar {
    display: none;
}

.menu-main-menu-ticket-container
{
    border: 5px solid var(--bright);
    background-color: var(--normal);
    width: 50%;
    height: 91%;
    color: var(--white);
    display: flex;
    /* justify-content: ; */
    /* margin-top: auto; */
    /* align-items: flex-start; */
    flex-direction: column;
    border-radius: 25px;
    scale: 85%;
    /* margin-top:-3rem; */
    box-shadow: 0 2px 12px var(--shadow);
    /* margin-bottom: auto; */
}


/* ============================================ SHOPPING CART =================================*/
.ticket-container-title
{
    
    color: var(--text-color);
    text-align: center;
    scale: 85%;
    border-bottom: 5px solid var(--text-color);
    margin-left: 1em;
    margin-right: 1em;
    width: 50%;
    margin: 0 auto;
}

.ticket-item-container, .ticket-item-container-noscroll
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    height: 100%;
    overflow-y: scroll;
    margin: 1em;

    /* background-color: red; */
    margin-top: auto;
    border-bottom: 5px solid var(--shade2);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

}

.ticket-item-container::-webkit-scrollbar {
    width: 8px;
    background-color: #565a57;
    margin-top: 15px;
    border-radius: 6px;
}

.temp-cart-text {
    color: var(--text-color);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-style: italic;
    font-size: 2rem;
}

.temp-cart-text-none {
    display: none;
}

.ticket-item-container::-webkit-scrollbar-thumb {
    background: var(--shade1); 
    border-radius: 6px;
} 

.ticket-item-container-noscroll::-webkit-scrollbar {
    display: none;
}

.ticket-item
{
    scale: 85%;
    display: flex;
    width: auto;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    /* border-left: 5px solid var(--border); */
    font-size: 2.5rem;
    /* margin: 1em; */
    /* padding-right: 5rem; */
}

.ticket-item-name
{
    width: 400px;
    white-space: nowrap;
    user-select: none;
    /* overflow-x: scroll;  */
    /* text-overflow: ellipsis; */
    
    /* padding-right: 5rem; */
    
}
.ticket-item-price, .ticket-total-title {
    user-select: none;
}

.ticket-item-name-noscroll::-webkit-scrollbar {
    display: none;
}


.ticket-item-name-container {
    border-bottom: 3px solid var(--shade2);
    border-right: none;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    border-left: none;


    /* background-color: red; */
    width: 100%;

    padding-left: 2rem;
    padding-right: 2rem;

    overflow-x: scroll;
}
.ticket-item-name-container::-webkit-scrollbar {
    display: none;
}

/* .ticket-item-name-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px; 
    width:3px;
    background-image: linear-gradient(to top, var(--shade1), var(--normal));
}
.ticket-item-name-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width:3px; 
    background-image: linear-gradient(to top, var(--shade1), var(--normal));
} */

.ticket-item-price {
    /* margin-left: 3rem; */
    
    margin-left: auto;
}

.ticket-item-quantity
{
    border: 2px solid var(--text-color);
    /* padding: 10px; */
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 205px;
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    gap: .75em;
    border-radius: 25px;

    margin-right: auto;
    cursor: pointer;
}

.ticket-total-and-order-container
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75em;
    margin-top: auto;
}

.ticket-total-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.5rem;
    gap: 2em;
    margin-top: -.25em;
}

.ticket-submit-container
{
    display: flex;
    flex-direction: row;
    
}

.ticket-submit-button
{
    user-select: none;
    /* border: 5px solid var(--white); */
    padding: .5em;
    font-size: 2rem;
    border-radius: 500px;

    color: (--text-color);
    /* border-color: var(--shade1); */
    background-color: var(--shade2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    scale: 80%;
}

.ticket-submit-button:hover
{
    scale: 95%;
}

.ticket-item-decrement, .ticket-item-increment {
    padding: 1rem;
    user-select: none;
}

.ticket-item-current-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


/* =========================== categories ========================== */
#menu-main-menu-water-and-beverages
{
    border-right: none; 
}

#menu-main-menu-sweet-crepes 
{
    border-left: none
}

.menu-body-entry-photo
{
    margin-left: 1rem;
    /* max-width: 125px;
    max-height: 125px; */
    /* padding: 1em; */
    width: 20%;
    height: 100%;
    background-color: var(--shade2);
    padding: 5px;
    scale:100%;
    border-radius: 45px;
}

.menu-main-menu-body, .menu-main-menu-body-noscroll 
{
    margin-left: 2%;
    height: 77%;
    color: var(--text-color);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
    /* background-color: red; */

    margin-top:-1%;

    padding: 10px;

}

.menu-body {
    height: 100vh;
}
/* 
.menu-body-category-container
{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: red;
} */
.menu-main-menu-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #565a57;
    margin-top: 15px;
    border-radius: 6px;
    /* margin-right: 1rem; */
}
  
.menu-main-menu-body::-webkit-scrollbar-thumb {
    background: var(--shade1); 
    border-radius: 6px;
} 
.menu-main-menu-body-noscroll::-webkit-scrollbar {
    display: none;
}

.menu-body-entry-container
{
    border: 5px solid var(--bright);
    display: flex;
    /* scale: 80%; */
    /* width: auto; */
    /* gap: 2rem; */
    /* margin-left: 3rem; */
    margin-right: auto;
    /* margin-top: -2%; */
    width: 100%;
    /* height: 100vh; */
    /* width: 1100px; */
    max-height: 50rem;
    flex-direction: row;
    background-color: var(--normal);
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    user-select: none;
    box-shadow: 0 2px 12px var(--shadow);
    
    cursor: pointer;
    /* text-align: center; */
    /* overflow-x: auto; */
}
.menu-body-entry-container:hover {
    scale: 102%;
    border: 5px solid var(--white);
}

.menu-body-entry-amount-container
{
    margin: 1em;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    gap: .5em;
    border: 2px solid var(--text-color);
    border-radius: 55px;
    
    padding: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-left: auto;

    /* overflow: scroll; */
}

.menu-body-entry-description-container
{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    gap: .5em;
    /* margin-top: 1rem; */
    /* margin-bottom: ; */
    scale: 90%;
    /* max-width: 30rem; */
    width: 100%;
    /* margin-left: auto; */
    position: relative;
    border-left: none;
    border-right: none;
    /* border-right: 3px solid var(--shade1); */
    border-bottom: 3px solid var(--shade2);
}
.menu-body-entry-description-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px; 
    width:3px;
    background-image: linear-gradient(to top, var(--shade1), var(--normal));
}
.menu-body-entry-description-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width:3px; 
    background-image: linear-gradient(to top, var(--shade1), var(--normal));
}

.menu-body-entry-title
{
    font-size: 2rem;
    justify-content: flex-start;
    
}

.menu-body-entry-description
{
    overflow-x: scroll;
    /* white-space: nowrap; */
    font-size: 1.5rem;
    /* text-overflow: ellipsis; */
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
}
.menu-body-entry-description-noscroll {
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 1.5rem;
    /* text-overflow: ellipsis; */
}

.menu-body-entry-description::-webkit-scrollbar {
    display:none;
}
 
.menu-body-entry-description-noscroll::-webkit-scrollbar {
    display: none;
}

.decrement-button
{
    cursor: pointer;
    padding: 0.3rem;
}

.increment-button
{
    padding: 0.3rem;
    cursor: pointer;
}

/* .order-now-filler-block {
} */